<footer class="blog-footer p-3">
  <p>
    Every word on this site is nonsense. Real Shit is just opinions, and the rest is satire. Only a moron would take any of this seriously.</p>
  <p>
    If you would like to complain about anything on this site, please step outside and shout your complaint as loudly as you can. We will respond as soon as possible.
  </p>
  <p>
    <b>Privacy:</b>
    Newsie McNewsface doesn't use cookies or store any information. We do use Google Analytics and Adsense, which do use cookies. You can view Google's policies <a href="https://policies.google.com/technologies/partner-sites" target="_blank">here</a> &lpar;and opt out if you wish&rpar;. Additionally, the sharing function we offer uses ShareThis, which has its own data policies, available <a href="https://sharethis.com/privacy/">here</a>.
  </p>
</footer>
