<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- responsive -->
<div class="container" id="header-ad" class="jumbotron text-white rounded bg-dark text-center">
  <p class="fancy"><span>Content Continues Below</span></p>
  <ins class="adsbygoogle" style="display:block" data-adtest="on" data-ad-client="ca-pub-0827163632312665" data-ad-slot="9723565223" data-ad-format="auto" data-full-width-responsive="true"></ins>
</div>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
