{% assign imgclass = "card-img-right" %}
{% assign thumbclass = "thumb" %}
{% assign imgalt = "US flag" %}

{% if post.img %}
  {% assign imgsrc= "/assets/img/thumbs/" | append: post.img | replace ".jpg", "-thumb.jpg" %}
  {% assign imgcred = post.imgcredit | replace: "Photo by ", "" | replace: " on Unsplash", "" %}
  {% assign imgalt = post.alt %}
{% else %}
  {% assign imgsrc= "/assets/img/thumbs/default-thumb.jpg" %}
  {% assign imgcred = "Photo by Aaron Burden on Unsplash" | replace: "Photo by ", "" | replace: " on Unsplash", "" %}
{% endif %}

{% if include.type == "hero" %}

  {% assign imgclass = "hero-img" %}
  {% assign thumbclass = "hero" %}

  {% if post.img %}
    {% assign imgsrc= "/assets/img/" | append: post.img %}
  {% else %}
    {% assign imgsrc= "/assets/img/default.jpg" %}
    {% endif %}

{% endif %}


{% if include.type == "post" %}

  {% assign imgclass = "post-img" %}
  {% assign thumbclass = "post" %}

  {% if post.img %}
    {% assign imgsrc= "/assets/img/" | append: post.img %}
  {% else %}
    {% assign imgsrc= "/assets/img/default.jpg" %}
    {% endif %}

{% endif %}

<div class="{{ thumbclass }}">
  <img class="{{ imgclass }}" src="{{ imgsrc }}" alt="{{ imgalt }}">
  <div class="imgcredit">
    <span>Photo by
      <a target="_blank" href='https://unsplash.com/@{{ imgcred | replace: " ", "" | slugify }}'>
      {{ imgcred }}</a> on
      <a target="_blank" href='https://unsplash.com'>Unsplash</a>
    </span>
  </div>
</div>
