{% if post_count > 1 %}
<div class="container">
  <div class="row mb-2">
    {% for post in paginator.posts %}
      {% if post.url != site.posts[0].url %}
      <div class="col-md-6">
        <div class="card flex-row mb-md-4 box-shadow">
          <div class="card-body d-table flex-column align-items-start" style="position:relative;height:100%;">
            <div class="row w-100">
              <div class="col">
                <a href="/category/{{ post.category | slugify }}" id="postcat" class="d-inline-block mb-md-2 text-primary">{{ post.category }}</a>
              </div>
              <div class="col-auto text-right pr-0">
                <div id="postdate" class="mb-1 text-muted text-right">{{ post.date | date: "%a, %b %d, %Y" }}</div>
              </div>
            </div>
            <h3 class="mb-0 pb-3">
              <a class="text-dark" href="{{ post.url }}">{{ post.title | truncatewords: 16 | slice: 0, 110 }}</a>
            </h3>
            <!--<p class="card-text mb-auto">{{ post.excerpt | slice: 0, 220 }}...</p>-->
            <div class="continue"><a href="{{ post.url }}">Continue reading...</a></div>
          </div>
          {% include image.html type="recent" %}
        </div>
      </div>
      {% endif %}

    {% endfor %}

  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="/">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>
{% endif %}
