{% assign imgclass = "card-img-right" %}

{% if post.img%}
{% assign imgsrc= "/assets/img/thumbs/{{ post.thumb }}" %}
{% else %}
{% assign imgsrc= "/assets/img/thumbs/rsz_1samuel-branch-zpvisr0s_hq-unsplash.jpg" %}
{% endif %}

{% if include.hero == "true" %}
{% assign imgclass = "hero-img" %}
{% assign imgsrc= "/assets/img/{{ post.img }}" %}
{% else %}
{% assign imgsrc= "/assets/img/samuel-branch-zpvisr0s_hq-unsplash.jpg" %}
{% endif %}

{% if post.img%}
{% assign imgcred = post.imgcredit | replace: "Photo by ", "" | replace: " on Unsplash", "" %}
<div class="thumb">
  <img class="{{ imgclass }}" src="{{ imgsrc }}" alt="{{ post.alt }}">
  <div class="imgcredit">
    <span>Photo by
      <a target="_blank" href='https://unsplash.com/@{{ imgcred | replace: " ", "" | slugify }}'>
      {{ imgcred }}</a> on
      <a target="_blank" href='https://unsplash.com'>Unsplash</a>
    </span>
  </div>
</div>
{% else %}
{% assign imgcred = "Samuel Branch" %}
<div class="thumb">
  <img class="{{ imgclass }}" src="{{ imgsrc }}" alt="Newsy McNewsface default image US flag">
  <div class="imgcredit">
    <span>Photo by
      <a target="_blank" href='https://unsplash.com/@{{ imgcred | replace: " ", "" | slugify }}'>
      {{ imgcred }}</a> on
      <a target="_blank" href='https://unsplash.com'>Unsplash</a>
    </span>
  </div>
</div>
{% endif %}
