//$card-spacer-x: .5rem;
@import 'simplex/variables';
@import 'bootstrap/bootstrap';
@import 'simplex/bootswatch';
@import 'bsblog';

a.blog-header-logo:hover {
  text-decoration: underline;
}

nav a {
  font-weight: bold;
}

p {
  font-family: "Ubuntu", Tahoma, Arial, serif;
}

.continue {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 12px;
}

.blog-footer {
  margin-top: 110px;

  p {
    width: 80%;
    text-align: left;
    margin: 6px auto;
  }
  clear: both;
}

.blog-post {
  h1 {
    margin-bottom: 18px;
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.25rem;
    text-decoration: underline;
  }

  .blog-img {
    margin-bottom: 18px;
  }

  .post {
    width: 240px;
    height: 120px;
    margin: auto;
    position: relative;
  }

  .post-img {
    height: 120px;
    width: 240px;
    border-radius: 3px;
  }
}

.blog-list {
  width: 100%;
}

.blog-list-item {
  border: 1px solid #ddd;
  box-shadow: 1px 1px #ccc;
  border-radius: 4px;
  padding: 6px 12px 18px;
  margin: 6px;
  width: 22.5%;
  position: relative;
}

.blog-list-item-date {
  font-size: 0.5rem;
  position: absolute;
  bottom: 3px;
  right: 6px;
}

.card-body {
  padding: 3px 6px;
}

.card {
  margin-bottom: 12px;
  box-shadow: 1px 1px #ddd;
  height: 130px;
}

.card-img-right {
  border-radius: 0 3px 3px 0;
  object-fit: cover;
  width: 120px;
  height: 120px;
}

.thumb {
  position: relative;
  right: 0;
}

.imgcredit {
  display: block;
  position: absolute;
  bottom: 0;
  background: #efefef;
  color: #333;
  font-size: 9px;
  width: 100%;
  padding: 4px;
  text-align: center;
  max-width: 200px;
  border-radius: 0 0 3px 0;
}

.hero .imgcredit {
  right: 0;
}

.hero {
  width: 240px;
  height: 120px;
  margin: auto;
  position: relative;
}

.hero-img {
  height: 120px;
  width: 240px;
  border-radius: 3px;
}

.hero-title {
  a {
    color: #fff;
  }
}

#postcat,
#postdate {
  font-size: 0.5rem;
}

.card,
.lead,
.nav-scroller {
  font-size: 0.65rem;
}

h1 {
  font-size: 1.25rem;
}

h3 {
  font-size: 0.7rem;
}

.pagination a,
.pagination span {
  padding: 7px 18px;
  border: 1px solid #eee;
  margin-left: -2px;
  margin-right: -2px;
  background-color: #ffffff;
  display: inline-block;
}

.pagination a {
  &:hover {
    background-color: #f1f1f1;
    color: #333;
  }
}

.pagination {
  text-align: center;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .blog-post {
    p {
      -webkit-column-count: 2;
      /* Chrome, Safari, Opera */
      -moz-column-count: 2;
      /* Firefox */
      column-count: 2;
      -webkit-column-gap: 20px;
      /* Chrome, Safari, Opera */
      -moz-column-gap: 20px;
      /* Firefox */
      column-gap: 20px;
      column-rule-color: #ccc;
      /* Optional */
      column-rule-style: solid;
      /* Optional */
      column-rule-width: 1px;
      /* Optional */
      text-align: justify;
      /* Optional */
    }
  }

  h3 {
    font-size: 0.85rem;
  }

  h1 {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  .blog-post {
    p {
      -webkit-column-count: 3;
      /* Chrome, Safari, Opera */
      -moz-column-count: 3;
      /* Firefox */
      column-count: 3;
      -webkit-column-gap: 20px;
      /* Chrome, Safari, Opera */
      -moz-column-gap: 20px;
      /* Firefox */
      column-gap: 20px;
      column-rule-color: #ccc;
      /* Optional */
      column-rule-style: solid;
      /* Optional */
      column-rule-width: 1px;
      /* Optional */
      text-align: justify;
      /* Optional */
    }

    .post {
      width: 450px;
      height: 450px;
      float: right;
      margin-left: 36px;
      margin-bottom: 36px;
      margin-top: 18px;
    }

    .post-img {
      width: 450px;
      height: 450px;
      border-radius: 3px;
    }
  }

  .card {
    height: 160px;
    font-size: 1rem;
  }

  .card-img-right {
    width: 160px;
    height: 160px;
  }

  .hero,
  .hero-img {
    height: 300px;
    width: 300px;
  }

  .hero-title {
    padding-right: 18px;
  }

  h3 {
    font-size: 1.3rem;
  }

  h1 {
    font-size: 2rem;
  }

  .imgcredit {
    bottom: -2px;
  }

  #postcat {
    font-weight: bold;
  }

  #postcat,
  #postdate,
  .card,
  .lead,
  .nav-scroller {
    font-size: 0.8rem;
  }
}
/*
@include media-breakpoint-up(sm) {

    .card-body {
      padding-right: 12px;
      min-width: 338px;
    }

    .card-img-right {
      height: 100%;
      min-width: 200px;
      max-width: 200px;
      max-height: 100%;
      max-height: -moz-available;
      max-height: -webkit-fill-available;
      max-height: fill-available;
    }

}
*/
