{% include page_top.html type="post" %}
{% include headers.html %}

<main role="main" class="container blog-post">
  <h1>{{ page.title }}</h1>
  <div>
    <a href="/author/{{ post.author | slugify }}" id="postcat" class="d-inline-block mb-md-2 text-primary">
      {{ page.author }}
      <br>
      {{ page.author_title }}
    </a>
  </div>
  <div class="blog-img">
    {% assign post = page %}
    {% include image.html type="post" %}
  </div>
  <div class="blog-content">
    {{ content }}
  </div>
</main>

{% include footer.html %}
{% include page_bottom.html %}
